@charset "utf-8"

// vibe colors
$vibe-black: #111111
$vibe-purple: #6666CC
$vibe-teal: #66CCCC
$vibe-pink: #FF6666
$vibe-light-grey: #f6f6f6
$vibe-yellow: #FFCC00
$vibe-white: #F4F4F4
$vibe-gray: #828282
$vibe-almost-white: #F8F8F8

// vibe fonts
$vibe-family-body: "Fira Sans", BlinkMacSystemFont, -apple-system, "Microsoft YaHei", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$vibe-family-heading: Stratos, BlinkMacSystemFont, -apple-system, "Microsoft YaHei", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif

$vibe-bold: 500
