.title
  color: #111
  font-style: normal
  font-weight: 500
  font-family: $vibe-family-head
  line-height: 1.125

.content
  color: #111
  font-style: normal
  font-weight: 400
  font-family: $vibe-family-body
  line-height: 1.5