.nav-divider
  width: 0
  height: 26px
  margin: 0 1.75rem 0 3rem
  border: 1px solid #e0e0e0

.navbar-item
  position: relative
  display: flex
  align-items: center
  flex-grow: 0
  flex-shrink: 0
  &.has-dropdown
    align-items: stretch
    padding: 0
