.container
  display: flex
  margin: 0 auto
  flex-grow: 1
  margin: 0 auto
  position: relative
  width: auto
  +until-fullhd
    width: 94%
  +mobile
    width: 87.5%
  +fullhd
    width: 1344px

  