.section
  .container
    display: flex
    margin: 0 auto
    +mobile
      width: 327px
    +fullhd
      max-width: 1440px
  
.container
  flex-grow: 1
  margin: 0 auto
  position: relative
  width: auto
  @media screen and (min-width: 576px)
    max-width: 94%
  @media screen and (min-width: 1408px)
    max-width: 1344px

  